.formcontainer{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .formimage{
    width: auto;
  }
  
  
  form {
    margin-top: 6%;
    height: 640px;
    padding: 4%;
    border-left: 5px solid #181d31;
    float: left;
    width: 100%;
  }
  
  label {
    margin-left: 3px;
    font-size: 18px;
    display: block !important;
  }
  
  input,
  select {
    height: 2.8em;
    width: 80%;
    display: inline-block;
    margin: 10px auto;
    border: 3px solid lightgrey;
    border-radius: 3px;
    padding: 0.5em;
  }
  .submit {
    background-color: #181d31;
    color: white;
    border-radius: 3px;
    padding: 2% 5%;
    margin-top: 1%;
  }
  
  #login {
    margin-top: 20% !important;
    padding-top: 8% !important;
    height: 340px !important;
  }
  
  .errormessage {
    margin-left: 3px;
    font-size: 12px;
    color: red;
    display: none;
  }
  
  .truth {
    height: 18px;
    font-size: 8px !important;
    font-weight: bolder;
  }
  
  #smallpass,
  #goodpass,
  #bestpass,
  #notmatch,
  #match {
    display: none;
    opacity: 1 !important;
  }
  
  #showpass {
    float: right;
  }
  
  
  
  @media screen and (max-width: 860px){
  
    .list{
      display: none;
    }
  
    .formcontainer{
      display: grid;
      grid-template-columns: 100%;
    }
  
    form {
      margin: 6% auto;
      padding: 4%;
      border-left: none;
      border-top: 5px solid #181d31;
      width: 100%;
    }
    
    .formimage{
      width: 100%;
    }
  
    input,
    select {
      width: 100%;
      margin: 10px auto;
    }
  
  }