/* ---------- THE HEADER && MAIN STYLE ---------- */
header {
    background-color: #181d31 !important;
  }
  .mynav {
    margin: 0 auto;
  }
  .mynav ul {
    margin: 0;
    overflow: hidden;
  }
  .mynav li {
    display: inline-block ;
  }

  .list {
    display: block;
    color: white !important;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }

  .mobile-list{
    display: none;
  }
/* 
  .list1{
    display: none;
  }
   */
  .list:hover {
    color: #181d31;
    background-color: rgb(230, 221, 196);
    text-decoration: none;
  }


  @media screen and (max-width: 860px){

    .list{
      display: none;
    }

    .mynav li {
      display: block;
      text-align: center;
    }

    .mobile-list{
      display: block;
    }

    

    .list1 {
      padding: 20px 20px;
      display: block;
      color: white;
      text-decoration: none;
    }
  
  }