*{
    font-size: 16px;
    box-sizing: border-box;
}

header{
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    background-color: #181D31;
}

nav{
    width: 90%;
    margin: 0 auto;
}

ul{
    margin: 0;
    overflow: hidden;
} 

li{
    display: inline-block;
}

button{
    background-color: rgba(255, 255, 255, 0.0);
    border: none;
}

button:hover{color: #181D31;background-color: #E6DDC4;}

.list{
    padding: 20px 20px;
    display: block;
    color: white;
    text-decoration: none;
}


.icon{
    padding: 6px 6px !important;
    background-image: url("./image/user.png");
}
.icon:hover{background-color: rgba(255, 255, 255, 0.0) !important ;}

#registeration,#loginSection{ 
    display: none;
}

main{
    padding: 5%;
}

form{
    margin-top: 10%;
    height: 520px;
    padding: 4%;
    border-left: 5px solid #181D31;
    float: left;
    width: 60%;
}

label{
    margin-left: 3px;
    font-size: 18px;
}

input,select{
    height: 2.8em;
    width: 100%;
    display: block;
    margin: 10px auto;
    border: 3px solid lightgrey;
    border-radius: 3px;
    padding: 0.5em;
}

.submit{
    background-color: #181D31;
    color: white;
    border-radius: 3px;
    padding: 2% 5%;
    margin-top: 1%;
}

#login{
    padding-top: 15% !important;
}