*{
    box-sizing: border-box;
}
header{
    background-color: rgb(11, 11, 69);
}
.nav-container{
    display: grid;
    grid-template-columns: 30% 20%;
    gap: 50%;
    top: 0px;
}
ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1%;
}
li{
    bottom: 1%;
    text-align: center;
    display: inline;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.right-float{
    float: right;
}